aws_access_key = "#{AWS_ACCESS_KEY}#"
aws_secret_key = "#{AWS_SECRET_KEY}#"
fe_bucket_name = "#{FE_BUCKET_NAME}#"
####Optional####
cloudfront_price_class = "#{CLOUDFRONT_PRICE_CLASS}#"
cloudfront_cache_policy_id = "#{CLOUDFRONT_CACHE_POLICY_ID}#"
